@page "/Account/Login"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using BountyWebApp.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject ILogger<Login> Logger
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Log in</PageTitle>
<div class="divimg col-centered">
    <div class="col-8 col-centered fs-5 fw-bold">
        <section>
            <p class="text-center fs-1 mt-1">Log in</p>
            <StatusMessage Message="@errorMessage" />
            <EditForm Model="Input" method="post" OnValidSubmit="LoginUser" FormName="login">
                <DataAnnotationsValidator />
                <hr/>
                <ValidationSummary class="text-danger" role="alert" />
                <div class="form-group-inline mb-3">
                    <label for="Input.Email" class="form-label">Email:</label>
                    <InputText @bind-Value="Input.Email" id="Input.Email" class="form-control pb-1" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <ValidationMessage For="() => Input.Email" class="text-danger" />
                </div>
                <div class="form-group-inline mb-3">
                    <label for="Input.Password" class="form-label">Password:</label>
                    <InputText type="password" @bind-Value="Input.Password" id="Input.Password" class="form-control pb-1" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <ValidationMessage For="() => Input.Password" class="text-danger" />
                </div>
                <div>
                    <div class="checkbox mb-3">
                        <label class="form-label">
                            <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input" /> Remember me
                        </label>
                        <a href="Account/ForgotPassword"><small class="text-end" style="padding: 30px;">Forgot your password?</small></a>
                    </div>
                </div>
                <div>
                    <button type="submit" class="w-100 btn btn-lg btn-secondary">Log in</button>
                </div>
                <div>
                    <p>
                        Don't have an account? <a href="@(NavigationManager.GetUriWithQueryParameters("Account/Register", new Dictionary<string, object?> { ["ReturnUrl"] = ReturnUrl }))">Sign up</a>
                    </p>
                </div>
            </EditForm>
        </section>
        <ExternalLoginPicker />
    </div>
</div>